@import '~antd/dist/antd.css';
.create-contact-form {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
}

.create-contact-details {
  margin-left: 20px;
}
.create-contact-details input {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: inherit;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: 0;
}
.create-contact-details button {
  margin-top: 20px;
  background: #ccc;
  padding: 10px;
  text-transform: uppercase;
  font-size: inherit;
  border: none;
  outline: 0;
}
